<div class="row">
	<h1> List of Topics </h1>

	<% @topics.each do |topic| %>
    	<p><%= link_to topic.title, topic %>
    	<% if policy(topic).edit? %>
	 		<%= link_to "Edit this topic", edit_topic_path(topic), class: 'btn btn-success' %>
		<% end %>
		<% if policy(topic).destroy? %>
	    	<%= link_to "Delete this topic", topic_path(topic), class: 'btn btn-danger', method: :delete %></p>
	    <% end %>
	<% end %>
	<br>
	<br>
	<%= link_to "Create a new topic", new_topic_path, class: 'btn btn-info' %>
</div>