

<p><h2><%= @topic.title %></h2></p>




<div class="row">
	<div class="col-xs-12">
		<%= render @topic.bookmarks %>
	</div>
</div>

<h4><%= link_to "Create a new bookmark", new_topic_bookmark_path(@topic, Bookmark.new), class: 'label label-success' %></h4>