
	<h1><span class="glyphicon glyphicon-ok-circle"></span>My bookmark list</h1>
	<% @user_bookmarks.each do |user_bookmark| %>
	<div class="row">
		<% topic, bookmarks = user_bookmark %>	
			<h3><p><%= topic.title %></p></h3>
			<%= render bookmarks %>
	</div>
	<% end %>

 <div class="row" >
	<div class="col-xs-12">
    <h1><span class="glyphicon glyphicon-heart"></span>My like bookmark list</h1>
	<% @liked_bookmarks.each do |user_bookmark| %>
	<div class="row">
		<% topic, bookmarks = user_bookmark %>	
			<h3><p><%= topic.title %></p></h3>
			<%= render bookmarks %>
	</div>
	<% end %>
   	</div>
 </div>



